/* --- FONTS --- */
@import url('https://fonts.googleapis.com/css?family=Open+Sans+Condensed:300,700');

/* ----- GENERAL ----- */

body {
  width: 600px;
  margin: 20px auto;
  padding: 20px;
  border: 20px solid #bdc3c7;
  font-family: 'Open Sans Condensed';
  font-size: 1.2em;

}

.date {
  color: #3498db;
  text-transform: uppercase;
}

.art-head {
  color: #2c3e50;
}

article {
  border-bottom: 1px solid #bdc3c7;
}


/* Little border before first paragraph */
p:nth-of-type(1) {
  border-left: 5px solid #bdc3c7;
  padding-left: 15px;
}
