/* PAGES GENERAL -----------------------------------*/

#pg-header {
    
    padding: .9em 4%;
    text-align: center;
    font-size: 1.7em;
    
    
}

#pg-header h1 {
    
    text-transform: uppercase;
    font-weight: 800;
    font-size: 3.0em;
    margin: 30px 0;
    
}

#pg-header p {
    
    font-size: 0.9em;
    
}


section {
    
    width: 80%;
    color: #333;
    margin: 0 auto;
    
}

section nav {
    margin: 0;
    
}

article {
    
    background: #fff;
    padding: 60px;
    font-size: 1.2em;
        
}

article header h1 {
    font-size: 2.7em;
    margin-bottom: 0;
}

article span {
    display: block;
    margin: 20px 0;
    
}

article p {
    margin: 20 0 15px;
}



/* GALLERY -----------------------------------*/

.gallery {
    padding: 0;
}


.gallery li {
    background: #ff0;
    float: left;
    width: 30%;
    display: inline-block;
    list-style: none;
    margin: 10px;
    height: 190px;
}

.gallery li:hover {
    background: #333;
    float: left;
    width: 30%;
    display: inline-block;
    list-style: none;
    margin: 10px;
    height: 190px;
}

.gallery li p {
    display: block;
    color: #fff;
    font-size: 0.9em;
    position: relative;
    top: -120px;
    text-align: center;
    
}

.gallery img:hover {
    background: #333;
    opacity: 0.3;
    
}




/* Float Clearfix ------------------ */

.clearfix:after {
  content: "";
  display: table;
  clear: both;
}