/* PAGES GENERAL -----------------------------------*/

#pg-header {
    padding: .9em 4%;
    text-align: center;
    font-size: 1.45em;
}

#pg-header h1 {
    text-transform: uppercase;
}

section header h1 {
    
}