@media (max-width: 500px){
    img#main-logo {
        max-width: 300px;
    }
    
    #pg-header  {
        font-size: 1.4em;
    }
    
    article {
        padding: 40px;
        font-size: 1em;
    }
}